Library
Temp
Build
Assembly-CSharp.csproj
coin-smashers.sln
coin-smashers.userprefs
.vscode
Assembly-CSharp-Editor-firstpass.csproj
/coin-smashers.CSharp.Editor.Plugins.csproj
/coin-smashers.CSharp.csproj
/.vs
*.blend1
/coin.apk
/pc
